<?xml version="1.0" encoding="UTF-8" ?>


<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="tk.mybatis.springboot.dao.IRoleDao">

    <resultMap id="BaseResultMap" type="tk.mybatis.springboot.model.Role">
        <id column="funcid" property="funId" jdbcType="VARCHAR"/>
        <id column="func" property="func" jdbcType="VARCHAR"/>

    </resultMap>
    <sql id="Base_Column_List">
    funcid, func
  </sql>
    <select id="findOne" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from func

    </select>

</mapper>